/*      LARGE DESCKTOP     */
/*      WRAPPER   */
.wrapper {
  position: relative;
}
body {
  background-color: #FFF;
}
/*      HEADER  ANIM     */
@keyframes slide-in-top{0%{transform:translateY(-1000px);opacity:0}100%{transform:translateY(0);opacity:1}}
.navbar-nav > li {
  animation:slide-in-top 1s cubic-bezier(.25,.46,.45,.94) both;
}
.navbar-nav > li > a:hover {
  color: #4EA6EC!important;
  transition: 0.5s;
}
.dropdown-menu > a:hover {
  color: #4EA6EC;
  transition: 0.5s;
}
/*      HEADER     */
.navbar {
  background-color: #FFF;
}
ul.navbar-nav {
  padding-top: 20px;
}
ul.navbar-nav > li {
  font-size: 15px;
}
.dropdown-menu > a {
  font-size: 15px;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}
.navbar-nav > li > a {
  color: #555!important;
  font-family: 'Open-Sans',sans-serif;
  transition: 0.5s;
}
.dropdown-menu {
  color: #333;
  border: none;
  border-radius: 7px;
  box-shadow: 1px 1px 10px #333;
}
.dropdown-menu > a {
  font-size: 14px;
  transition: 0.5s;
}
.dropdown-menu> a:focus, .dropdown-menu> a:hover {
  background-color: transparent;
}
/*      HEADER BACKGROUND ANIM     */
@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
h1,h2{animation:text-focus-in 1s linear .5s both;}
/*      HEADER BACKGROUND     */
h1 {
  font-family: 'Raleway',sans-serif;
  font-weight: lighter;
  color: #555;
  text-align: left;
  font-size: 45px;
}
h2 {
  color: #9ea0a6;
  font-weight: lighter;
  text-align: left;
  padding-bottom: 60px;
  font-size: 38px;
}
#header-background > .container-fluid {
  height: 320px;
}
/*     PROJECT PRESENTATION ANIM     */
@keyframes slide-in-left{0%{transform:translateX(-1000px);opacity:0}100%{transform:translateX(0);opacity:1}}
.is-ready {
  animation:slide-in-left 1s linear both;
}
/*     PROJECT PRESENTATION     */
#project-presentation {
  padding: 200px 0;
}
h3 {
  font-family: 'Raleway',sans-serif;
  font-weight: lighter;
  color: #555;
  font-size: 41px;
}
p {
  font-weight: lighter;
  color: #9ea0a6;
  font-size: 28px;
  padding-right: 340px;
}
#project-presentation a {
  font-family: 'Open-Sans',sans-serif;
  font-size: 18px;
}
/*    NAME OF THE SITE WITH IMG     */
#picture-name {
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
#picture-name > .container {
  height: 500px;
}
h4 {
  color: #FFF;
  font-family: 'Raleway',sans-serif;
  font-weight: bold;
  font-size: 75px;
}
/*    MOCKUP     */
#mockup {
  padding: 60px 0;
}
#mockup h3 {
  text-align: left;
}
#mockup p {
  text-align: left;
}
.mockupRow {
  padding-top: 30px;
}
#mockup hr {
  margin: 90px 50px;
}
/*    WEBSITE CTA ANIM     */
@keyframes shake-horizontal{0%,100%{transform:translateX(0)}10%,30%,50%,70%{transform:translateX(-10px)}20%,40%,60%{transform:translateX(10px)}80%{transform:translateX(8px)}90%{transform:translateX(-8px)}}
#websiteCta p:hover {
  animation:shake-horizontal .8s cubic-bezier(.455,.03,.515,.955) both;
}
/*    WEBSITE CTA   */
#websiteCta {
  height: 600px;
}
#websiteCta p {
  border-radius: 500px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  height: 50px;
}
#websiteCta a {
  font-family: 'Open-Sans',sans-serif;
  color: #FFF;
  padding-top: 8px;
  font-size: 20px;
  display: inline-block;
  width: 300%;
}
/*      SECTION CONTACT     */
#contact {
  background-image: url('../../img/home/contact.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
  overflow: hidden;
}
#contact > .container {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}
#contact  p {
  font-weight: lighter;
  color: #FFF;
  font-size: 50px;
}
#contact p:first-child {
  margin-bottom: 0;
}
#contact a {
  color: #FFF;
}
/*    FOOTER     */
footer {
  padding: 75px 0;
  background-color: #F2F5F7;
}
footer a:hover {
  text-decoration: none;
}
.social-media img {
  margin-left: 20px;
  margin-right: 20px;
  width: 32px;
  height: auto;
}
.twitter {
  width: 50px!important;
  height: auto;
}
/*    PHONE     */
@media screen and (max-width: 767px) {
  /*      HEADER     */
  header {
    z-index: 10;
    position: sticky;
  }
  ul.navbar-nav {
    text-align: center;
    padding-top: 40px;
  }
  ul.navbar-nav > li {
    font-size: 16px;
  }
  button {
    z-index: 10;
  }
  .navbar-collapse {
    position: absolute;
    width: 100%;
    left: 0%;
    background-color: #FFF;
  }
/*    HEADER BACKGROUND     */
  #header-background > .container-fluid {
    height: 350px;
  }
  h1 {
    font-size: 30px;
    padding-bottom: 0;
  }
  h2 {
    font-size: 24px;
  }
/*    PROJECT PRESENTATION     */
  #project-presentation {
    padding: 60px 0;
  }
   h3 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
    padding-right: 0;
  }
  #project-presentation a {
    font-size: 13px;
  }
/*    NAME OF THE SITE WITH IMG     */
  #picture-name {
    height: 260px;
  }
  #picture-name > .container {
    height: 260px;
  }
  #picture-name h4 {
    font-size: 30px;
  }
/*    MOCKUP     */
  .mockupRow {
    padding-top: 20px;
  }
  #mockup hr {
    margin: 35px 0 55px 0;
    width: 100%;
  }
/*      WEBSITE CTA */
  #websiteCta {
    height: 300px;
  }
  #websiteCta p {
    width: 215px;
    height: 37px;
  }
  #websiteCta a {
    font-size: 13px;
    padding-top: 0;
    display: inline;
  }
/*      FOOTER     */
  footer {
    padding: 60px 0;
  }
  .social-media img {
    width: 19px;
    height: auto;
  }
  .twitter {
    width: 29Px!important;
    height: auto;
  }
}
/*      TABLET     */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /*      HEADER     */
  /*   HEADER BACKGROUND     */
  #header-background > .container-fluid {
    height: 250px;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 30px;
  }
/*    PROJECT PRESENTATION     */
    #project-presentation {
      padding: 60px 0;
    }
    h3 {
      font-size: 27px;
    }
    p {
      font-size: 22px;
      padding-right: 250Px;
    }
    #project-presentation a {
      font-size: 13px;
    }
/*    NAME OF THE SITE WITH IMG     */
    #picture-name {
        height: 378px;
      }
    #picture-name > .container {
        height: 378px;
      }
    #picture-name h4 {
        font-size: 50px;
      }
/*      MOCKUP     */
      .mockupRow {
        padding-top: 25px;
      }
      #mockup hr {
        margin: 60px 50px;
      }
/*      WEBSITE CTA */
        #websiteCta {
          height: 400px;
        }
        #websiteCta p {
          height: 45px;
        }
        #websiteCta a {
          font-size: 19px;
          width: 250%;
          display: inline-block;
        }
}
/*      DESCKTOP     */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /*    HEADER     */
  /*   HEADER BACKGROUND     */
  #header-background > .container-fluid {
    height: 300px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
/*    PROJECT PRESENTATION     */
  #project-presentation {
    padding: 60px 0;
  }
  h3 {
        font-size: 35px;
  }
  p {
        font-size: 24px;
        padding-right: 250Px;
  }
  #project-presentation a {
        font-size: 15px;
  }
/*    NAME OF THE SITE WITH IMG     */
    #picture-name {
      height: 489px;
    }
    #picture-name > .container {
      height: 489px;
    }
    #picture-name h4 {
      font-size: 55px;
    }
/*      WEBSITE CTA */
            #websiteCta {
              height: 500px;
            }
            #websiteCta p {
              height: 45px;
            }
            #websiteCta a {
              font-size: 19px;
              width: 265%;
              display: inline-block;
            }
}
