/* --------------------
  Général
---------------------*/

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* --------------------
  header
---------------------*/

header {
  background-color: #DCDCDC;
}

/* --------------------
  navigation
---------------------*/

.navbar-brand {
  font-size: 2.3em!important;
  margin-left: 50px;
  color: #605E5E !important;
  font-family: 'Oswald', sans-serif;
}

nav {
  padding: 22px;
}

.navbar {
  margin-bottom: 0!important;
}

/* --------------------
  liste
---------------------*/

#liste {
  list-style-type: none;
  font-size: 1.3em;
  text-align: right;
  margin-right: 50px;
}

#liste ul {
  display: inline-block;
  padding: 10px;
  border-top: 2px solid #94B1D1;
  border-bottom: 2px solid #94B1D1;
  margin: 7px;
}

#liste ul:hover {
  border-top: 2px solid #01B1AF;
  border-bottom: 2px solid #01B1AF;
}

#liste ul a {
  color: #94B1D1;
}

#liste ul a:hover {
  text-decoration: none;
  color: #01B1AF;
}

/* --------------------
  bloc1
---------------------*/

#bloc1 {
  background-color: #FFF;
  padding: 30px;
}

#bloc1 {
  text-align: center;
  color: #605E5E;
}

#bloc1 hr {
  width: 90%;
}

/* --------------------
  bloc2
---------------------*/

#bloc2 h2 {
  color: #605E5E;
  font-size: 1.5em;
}

#bloc2 p {
  color: #605E5E;
  text-align: justify;
}

/* --------------------
  bloc2 -> div1
---------------------*/

#div1 {
  float: left;
  margin-left: 100px;
}

/* --------------------
  bloc2 -> div2
---------------------*/

#div2 {
  float: right;
  margin-right: 100px;
}

/* --------------------
  bloc2 -> div3
---------------------*/

#div3 {
  float: left;
  margin-left: 180px;
}

/* --------------------
  bloc3
---------------------*/

#bloc3 {
  clear: both;
  background-color: #FFF;
  padding: 30px;
}

#bloc3 p {
  color: #605E5E;
  font-size: 1.4em;
  margin-top: 50px;
  text-align: center;
}

#bloc3 a {
  display: inline-block;
  background-color: #CCC;
  padding: 7px;
  color: #2F2E2E;
  border-radius: 3px;
  margin-left: 4px;
}

#bloc3 a:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #605E5E;
}

/* --------------------
  footer
---------------------*/

footer {
  background-color: #605E5E;
  padding: 25px;
}

#footer1 {
  text-align: center;
}

#footer1 a{
  color: #CCC;
  font-size: 0.8em;
}

#footer1 a:hover {
  color: #ccc;
  text-decoration: none;
}
