/* --------------------
  Général
---------------------*/

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* --------------------
  header
---------------------*/

header {
  background-color: #DCDCDC;
}

/* --------------------
  navigation
---------------------*/

.navbar-brand {
  font-size: 2.3em!important;
  color: #605E5E !important;
  font-family: 'Oswald', sans-serif;
}

nav {
  padding: 22px;
}

.navbar {
  margin-bottom: 0!important;
}

/* --------------------
  bloc1
---------------------*/

#bloc1 {
  background-color: #FFF;
  padding: 30px;
}

div {
  margin-left: auto;
  margin-right: auto;
  background-color: #CCC;
  padding: 50px;
  width: 50%;
  border-radius: 3Px;
}

div p {
  color: #FFF;
  text-align: justify;
  margin: 10px;
}

div a {
  display: block;
  margin: 10px;
  padding: 7px;
  background-color: #94B1D1;
  color: #fff;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 3px;
}

div a:hover {
  text-decoration: none;
  color: #FFF;
}

/* --------------------
  formulaire
---------------------*/

form {
  text-align: center;
}

input {
  padding: 5px;
  display: inline-block;
  width: 50%;
  margin: 7px !important;
}

#bouton {
  color: #FFF;
  width: 20%;
}
