<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Découvrez nos templates html</title>
		 <!-- link -->
		<link rel="stylesheet" type="text/css" href="templates.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/png" href="favicon2.ico"/>
		<link rel="canonical" href="http://www.site-easy.fr/templates/templates.html">
		 <!-- meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Découvrez nos templates html, obtenez votre html template, comment créer un site rapidement et facilement, créer votre site internet, obtenez votre template html moderne et responsive.">
		 <!-- OG: facebook -->
		<meta property="og:type" content="article">
		<meta property="og:title" content="Découvrez nos templates html">
		<meta property="og:description" content="Découvrez nos templates html, obtenez votre html template, comment créer un site rapidement et facilement, créer votre site internet, obtenez votre template html moderne et responsive.">
		<meta property="og:local" content="FR">
		 <!-- script -->
		<script src="https://use.fontawesome.com/9b5d78f072.js"></script>
	</head>

<body>
<header> <!-- Entête bande blanche + menu de navigation -->
		<div class="wrapper">
				<nav>
				 <a href="../index.html"> Site-easy </a>
				 <a href="../index.html" id="homebtn"><i class="fa fa-home"></i></a>
				 <a href="../index.html#block4"> Comment ca marche? </a>
				 <a href="templates.html"> Templates </a>
				 <a href="../contact/contact.html"> Contact </a>
				</nav>
		</div>
	</header> <!-- fin de l'entête -->

<section id="block1">
	<div class="wrapper">
		<a href="../index.html"><i class="fa fa-home"></i> > Accueil </a>
	</div>
</section>

<section id="block2">
<div class="titre">
	<h1> Choississez votre template</h1>
</div>
		<div class="conteneur">
		  <h2>Portfolio, modernes:<em> "Acheter pour <span>10€</span> <span id="prix">3€"</span></em></h2><br>
			<a href="../images/sg/sg1.png" target="blank"> <img src="../images/sg/sg.png" alt="portfolio bootstrap" width="230" height="auto" title="cliquez"></a>
			<a href="../images/sg/sg2c.png" target="blank"> <img src="../images/sg/sg2.png" alt="portfolio bootstrap" width="230" height="auto" title="cliquez"></a>
			<a href="../images/sg/sg3c.png" target="blank"> <img src="../images/sg/sg3.png" alt="portfolio bootstrap" width="230" height="auto" title="cliquez"></a>
			<a href="../images/sg/sg4c.png" target="blank"> <img src="../images/sg/sg4.png" alt="portfolio bootstrap" width="230" height="auto" title="cliquez"></a>
			 <!-- bouton paypal -->
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="btn1">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="7Q4SPTY4BKSFU">
				<input type="image" src="pp.png" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
				<img alt="bouton pypal" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
			</form> <!-- fin bouton paypal -->
		</div>
</section>

<section id="block3">
	<h2>website responsive et moderne:<em> "Acheter pour <span>10€</span> <span id="prix">3€"</span></em></h2><br>
		<a href="../images/sc/sc.png" target="blank"> <img src="../images/sc/scc.png" alt="website responsive" width="230" height="auto" title="cliquez"></a>
		<a href="../images/sc/sc2.png" target="blank"> <img src="../images/sc/scg2.png" alt="website responsive" width="230" height="auto" title="cliquez"></a>
		<a href="../images/sc/sc3.png" target="blank"> <img src="../images/sc/scg3.png" alt="website responsive" width="230" height="auto" title="cliquez"></a>
		<a href="../images/sc/sc4.png" target="blank"> <img src="../images/sc/scg4.png" alt="website responsive" width="230" height="auto" title="cliquez"></a>
	     <!-- début bouton paypal -->
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="btn1">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="CMVJXCCVCTZW2">
			<input type="image" src="pp.png" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
			<img alt="bouton paypal" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
		</form> <!-- fin bouton paypal -->
</section>

<section id="block4">
	<h2>Mon cv, responsive:<em> "Acheter pour <span>10€</span> <span id="prix">3€"</span></em></h2><br>
		<a href="../images/cv/pic1c.png" target="blank"> <img src="../images/cv/pic.png" alt="www.lucastostee.fr" width="230" height="auto" title="cliquez"></a>
		<a href="../images/cv/pic2c.png" target="blank"> <img src="../images/cv/pic2.png" alt="www.lucastostee.fr" width="230" height="auto" title="cliquez"></a>
		<a href="../images/cv/pic3c.png" target="blank"> <img src="../images/cv/pic3.png" alt="www.lucastostee.fr" width="230" height="auto" title="cliquez"></a>
		<a href="../images/cv/pic4c.png" target="blank"> <img src="../images/cv/pic4.png" alt="www.lucastostee.fr" width="230" height="auto" title="cliquez"></a>
		 <!-- bouton paypal -->
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="btn1">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="ZSDUQE7TMWQWU">
			<input type="image" src="pp.png" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
			<img alt="bouton paypal" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
		</form> <!-- fin bouton paypal -->
</section>

<section id="block5">
<nav class="nav1">
  <ul class="pager">
    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Retour</a></li>
    <li class="next"><a href="templates1/templates1.html">Suivant <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
</section>

<footer>
	<p> <a href="../ML/ML.html"> Mentions légales</a></p>
</footer>
</body>
</html>







