<!DOCTYPE html>
<html>
<head>
	<title>Découvrez nos templates html</title>
	 <!-- link -->
	<link rel="stylesheet" type="text/css" href="templates1.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="canonical" href="http://www.site-easy.fr/templates/templates1/templates1.html">
	 <!-- meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Choissisez votre template html.">
	 <!-- OG:facebook -->
	<meta property="og:type" content="article">
	<meta property="og:title" content="Découvrez nos templates html">
	<meta property="og:description" content="Choissisez votre template html.">
	<meta property="og:local" content="FR">
	 <!-- script -->
	<script src="https://use.fontawesome.com/9b5d78f072.js"></script>
</head>
<body>
<header> <!-- Entête bande blanche + menu de navigation -->
		<div class="wrapper">
				<nav>
				 <a href="../../index.html"> Site-easy </a>
				 <a href="../../index.html" id="homebtn"><i class="fa fa-home"></i></a>
				 <a href="../../index.html#block4"> Comment ca marche? </a>
				 <a href="../templates.html"> Templates </a>
				 <a href="../../contact/contact.html"> Contact </a>
				</nav>
		</div>
	</header> <!-- fin de l'entête -->

<section id="block1">
	<div class="wrapper">
		<a href="../../index.html"><i class="fa fa-home"></i> > Accueil </a>
	</div>
</section>

<section id="block2">
	<h1> Choississez votre template</h1>
</section>

<section id="block3">
	<h2> Design en bande:<em> "Acheter pour <span>10 </span> <span class="prix">3€ </span> </em> </h2> <br>
		<a href="../../images/site-t/cp.png" target="blank"> <img src="../../images/site-t/cpg.png" alt="flat design" width="230" height="auto" title="cliquez"></a>
		<a href="../../images/site-t/cp1.png" target="blank"> <img src="../../images/site-t/cpg1.png" alt="flat design" width="230" height="auto" title="cliquez"></a>
		<a href="../../images/site-t/cp2.png" target="blank"> <img src="../../images/site-t/cpg2.png" alt="flat design" width="230" height="auto" title="cliquez"></a>
		<a href="../../images/site-t/cp3.png" target="blank"> <img src="../../images/site-t/cp3c.png" alt="flat design" width="230" height="auto" title="cliquez"></a>
		 <!-- début bouton paypal -->
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="btn1">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="NQUKUAEBRMVKQ">
			<input type="image" src="../pp.png" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
			<img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
		</form> <!-- fin bouton paypal -->
</section>

<section id="block4">
	<h2> Background-fixed:<em> "Acheter pour <span>10 </span> <span class="prix">3€ </span> </em> </h2> <br>
		<a href="../../images/bordeaux/lt.png" target="blank"> <img src="../../images/bordeaux/ltc.png" alt="background-fixed bordeaux" width="230" height="auto" title="cliquez"></a>
		<a href="../../images/bordeaux/lt1.png" target="blank"> <img src="../../images/bordeaux/ltc1.png" alt="background-fixed bordeaux" width="230" height="auto" title="cliquez"></a>
		<a href="../../images/bordeaux/lt2.png" target="blank"> <img src="../../images/bordeaux/lt2c.png" alt="background-fixed bordeaux" width="230" height="auto" title="cliquez"></a>
		<a href="../../images/bordeaux/lt3.png" target="blank"> <img src="../../images/bordeaux/lt3c.png" alt="background-fixed bordeaux" width="230" height="auto" title="cliquez"></a>
		 <!-- début bouton paypal -->
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="btn1">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="JDQ6VLCEUQKMW">
			<input type="image" src="../pp.png" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
			<img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
		</form> <!-- fin bouton paypal -->
</section>

<section id="block6">
	<h2> Portfoliio:<em> "Acheter pour <span>10 </span> <span class="prix">3€ </span> </em> </h2> <br>
		<a href="../../images/p/p1.png" target="blank"> <img src="../../images/p/p1c.png" alt="Portfolio" width="230" height="auto" title="cliquez"></a>
		<a href="../../images/p/p2.png" target="blank"> <img src="../../images/p/p2c.png" alt="Portfolio" width="230" height="auto" title="cliquez"></a>
		<a href="../../images/p/p3.png" target="blank"> <img src="../../images/p/p3c.png" alt="Portfolio" width="230" height="auto" title="cliquez"></a>
		<a href="../../images/p/p4.png" target="blank"> <img src="../../images/p/p4c.png" alt="Portfolio" width="230" height="auto" title="cliquez"></a>
		 <!-- début bouton paypal -->
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="btn1">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="QWBL6HS3PVPTQ">
			<input type="image" src="../pp.png" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
			<img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
		</form> <!-- fin bouton paypal -->
</section>

<section id="block5">
<nav class="nav1">
  <ul class="pager">
    <li class="previous"><a href="../templates.html"><span aria-hidden="true">&larr;</span> Retour</a></li>
    <li class="next"><a href="#">Suivant <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
</section>

<footer>
	<p> <a href="../../ML/ML.html"> Mentions légales </a></p>
</footer>
</body>
</html>