html,body {
	background-color: #333;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
}

header {
	background-color: #FFF;
	height: 70px;
	text-align: right; 
	padding-top: 25px;
}

nav a {
	text-transform: none;
	color: black;
	font-size: 1em;
	padding: 14px 16px;
	line-height: 15px;
	text-transform: uppercase;
}

nav a:hover {
	text-decoration: none;
	background-color: #EEE;
	color: black;
	border-radius: 3px;
	box-shadow: 2px 2px 5px black;
}

header nav a:first-child {
	position: absolute;
	top: 15px;
	left: 10px;
}

#homebtn {
	color: #FFF;
	background-color: #357AB7;
	border-radius: 3px;
	margin: 10px;
}

#block1 {
	background-image: url('../images/font/img1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 130px 0;
	text-align: center;
}

h1 {  
	text-transform: uppercase;
	}

em {
	color: white;
}

#button {
	text-transform: uppercase;
	background: #357AB7;
	color: #FFF;
	margin-top: 15px;
	font-weight: bold;
	font-size: 20px;
}

#button:hover {
	background: #1560BD;
}

#block3 {
	background: #444;
	padding: 30px 0;
	color: #FFF;
	text-align: center;
 }

#block3 a {
	display: inline-block;
	width: 300px;
	padding: 15px 0;
	vertical-align: top;
}

#block3 b {
	font-size: 20px;
	display: inline-block;
	color: #FFF;
	margin: 10px;
}

#block3 i {
	font-size: 50px;
	background: #357AB7;
	color: #494c43;
	border-radius: 100%;
	line-height: 100px;
	width: 100px;
	margin: 0 auto 20px auto;
}

#block4 {
	background: #EEE;
	padding: 70px 0;
}

.strong:hover {
	text-shadow: 0px 0px 10px grey;
	cursor: pointer;
}

#button2 {
	text-transform: uppercase;
	background: #357AB7;
	color: #FFF;
	margin-top: 15px;
	font-weight: bold;
	font-size: 20px;
}

#button2:hover {
	background: #1560BD;
}

#block4 h2 {
	text-align: center;
}

#block4 p {
	text-align: center;
	margin: 14px;
}

#block5 {
	background: #fff;
	padding: 70px 0;
	margin-left: 300px;
	margin-right: 100px;
}

#block5 h2 {
	font-size: 30px;
}

#block5 p {
	text-align: justify;
}

footer {
	padding: 20px 0;
	background: #BBB;
	text-align: right;

}

footer a {
	display: inline-block;
	color: white;
	margin: 0;
}

footer a:hover {
	color: white;
	text-decoration: none;
}


